div.header {
  background: #4A90E2;
  color: white;
  height: 64px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.header a {
  text-decoration: none;
  color: #fff;
}

div.header h1 {
margin-left: 100px;
}

div.profile {
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.profile img {
    border-radius: 50%;
    margin-left: 20px;
}

div.logo img {
  height:100px;
}
